@model List<IntegerWebApp.Models.Car>
   
    <div class=" card show p-2">
        <h1>Soal 1</h1>
        <table class="table">
        <thead>
            <tr>
                <th>Id Registrasi</th>
                <th>Type</th>
                <th>Brand</th>
                <th>Varian</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Satu)
            {
                <tr>
                    <td>@item.IdRegistrasi</td>
                    <td>@item.Type</td>
                    <td>@item.Brand</td>
                    <td>@item.Varian</td>
                </tr>
            }
        </tbody>
        </table>

        <table class="Table">
            <h2>Soal2</h2>
        <thead>
            <tr>
                <th>Id Registrasi</th>
                <th>Type</th>
                <th>Brand</th>
                <th>Varian</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Dua)
            {
                <tr>
                    <td>@item.IdRegistrasi</td>
                    <td>@item.Type</td>
                    <td>@item.Brand</td>
                    <td>@item.Varian</td>
                </tr>
            }
        </tbody>
        </table>

        
        <table class="Table">
            <h2>Soal3</h2>
        <thead>
            <tr>
                <th>Id Registrasi</th>
                <th>Type</th>
                <th>Brand</th>
                <th>Varian</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Tiga)
            {
                <tr>
                    <td>@item.IdRegistrasi</td>
                    <td>@item.Type</td>
                    <td>@item.Brand</td>
                    <td>@item.Varian</td>
                </tr>
            }
        </tbody>
        </table>
        

        
        <table class="Table">
            <h2>Soal4</h2>
        <thead>
            <tr>
                <th>Id Registrasi</th>
                <th>Type</th>
                <th>Brand</th>
                <th>Varian</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Empat)
            {
                <tr>
                    <td>@item.IdRegistrasi</td>
                    <td>@item.Type</td>
                    <td>@item.Brand</td>
                    <td>@item.Varian</td>
                </tr>
            }
        </tbody>
        </table>

        
        <table class="Table">
            <h2>Soal5</h2>
        <thead>
            <tr>
                <th>Id Registrasi</th>
                <th>Type</th>
                <th>Brand</th>
                <th>Varian</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Lima)
            {
                <tr>
                    <td>@item.IdRegistrasi</td>
                    <td>@item.Type</td>
                    <td>@item.Brand</td>
                    <td>@item.Varian</td>
                </tr>
            }
        </tbody>
        </table>

        
        <table class="Table">
            <h2>Soal6</h2>
        <thead>
            <tr>
                <th>Id Registrasi</th>
                <th>Type</th>
                <th>Brand</th>
                <th>Varian</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Enam)
            {
                <tr>
                    <td>@item.IdRegistrasi</td>
                    <td>@item.Type</td>
                    <td>@item.Brand</td>
                    <td>@item.Varian</td>
                </tr>
            }
        </tbody>
        </table>
</div>